.block_textimage {

	&--caption {	
	
		&__fig {
			margin: $size-h3 0 $size-h3 0;
		}

		&__text {
			@extend .wp-caption-text;
		}
	}

	&--prompt {
		text-align: center;

		&__btn {
			@include button($color-alert-info);
			padding: $size-sml $size-base;
			@include upperspace;
		}

		&__image {
			@include loader($file: '../../img/svg-raw/loader-dark.svg', $color: $white);
			display: block;
			width: 100%;
			max-width: none;
		}
	}

	&__image {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 110vh;
		
		.full & {
			width: 100%;
		}

		@include loader($file: '../../img/svg-raw/loader-dark.svg', $color: $white);
	}

	&--bottom-flush,
	&--bottom-flush figure {
		margin-bottom: 0;
	}

	&--bottom-flush {
		@extend .fade-wrap;
	}

}