.block_gallery {

	margin-bottom: $size-h1;
	margin-top: $size-h1;
	  
	&__gallery--video {
		@include bp(md) {
			@include grid;
		}
	}

	.gallery-cell {

		&--video {
			@include bp(md) {
				@include cell(half);
			}
			@include bp(lg) {
				@include cell(third, $is_first: false);
			}
			margin-bottom: $size-h3;

			.gallery-cell-image {
				display: none;
			}

		}

		&__content--video {

			position: relative;
			background-color: $color-accent-dark;
			cursor: pointer;
    		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);

			@include bp(md) {
	    		&:hover {
	    			transition: box-shadow 0.2s ease;
	    			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	    		}
			}

			.icon {
				position: absolute;
				bottom: $size-sml;
				right: $size-sml;
				fill: $color-accent-vlight;
				width: 44px;
				height: 44px;
				z-index: $z-top;
			}
		}

		&__info {	
			padding-right: $size-h4;
		}
	}

	.gallery-cell {
		height: auto;
		margin-right: 10px;
		padding: 5px;
		width: 85%;


		&__info {
		}

		@include bp(md) {
			width: 70%;
		}

	}

	.gallery-cell-image {
		position: relative;
		z-index: $z-mid;
		display: block;
		// max-height: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.gallery-cell-image.lazyloaded {
	  opacity: 1;
	}

}
