.cd-image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: $size-h3 auto 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.cd-image-container img {
    display: block;
    width: 100%;

    background-color: $color-accent-light;
    background-image: url('../img/svg-raw/loader.svg');
    background-repeat: no-repeat;
    background-size: 160px 160px;
    background-position: center center;
}

.cd-image-label {
    @include meta($color-text-vlight);
    @include upperspace;
    font-weight: $font-weight-strong;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: $size-xsml;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0, 0, 0, 0.6);
}

.cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
}

.cd-resize-img img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
}

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

.cd-handle {
    position: absolute;
    height: 44px;
    width: 44px;
    margin-left: -27px;
    margin-bottom: -22px;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    cursor: move;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    opacity: 1;
    background-color: $color-accent-light;
}

.cd-handle.draggable {
    background-color: darken($color-accent-light, 20%);
}

.block_comparison {

    &--caption__text {
        @extend .wp-caption-text;
    }
}