.header--single {
	
	&__hero__img__wrap {
		position: relative;
		background-color: $color-accent-dark;

		&--half {
			height: 40vh;

			@include bp(sm) {
				height: 40vh;
			}
			
			@include bp(md) {
				height: 50vh;
			}

			@include bp(lg) {
				height: 55vh;
			}
			overflow: hidden;
		}

		&--full {
			overflow: hidden;
			height: 98vh;
		}
		
	}

	&__hero__title {
		text-align: center;
		@include upperspace;
		padding-left: $size-base;
		padding-right: $size-base;
	}

	&__hero__info__content {
		text-align: center;
		padding-top: $size-base;
		padding-left: $size-base;
		padding-right: $size-base;
	}

	&__hero__img {
		width: 100%;
		@include loader($file: '../../img/svg-raw/loader.svg', $color: $color-accent-dark);
	}

	&__hero__byline {
		color: $color-text-med;
	}

	&__hero__summary {
		@extend .textblock-caption;
	}

	&__overlay {
		@include grid;
		justify-content: center;
		align-items: center;
		height: 100%;

		&__content {
			@include cell(full);
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
				max-height: 50vh;
			}
		}
	}

}