
.header--site {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	position: fixed;
	padding-bottom: $size-xsml;
	width: 100%;
	top: 0;
	left: 0;
	z-index: $z-top;

	&__brand--left {
		img {
			width: $size-h2*1.1;
			height: $size-h2*1.1;
			float: left;
		}
	}

	&__brand--right {
		img {
			width: $size-h2*1.2;
			height: $size-h2*1.2;
			margin-right: -1px;
			margin-top: -2px;
			float: right;
		}

		.icon {
			float: right;
			margin-right: -1px;
			fill: $white;
			height: $size-h2*1.1;
			width: $size-h2*1.1;
		}
	}

	&__menu {
		overflow: hidden;
		max-height: 0;
		background-color: rgba($color-accent-dark, 0.9);
		transition: all 0.25 ease;

		&.active {
			padding-top: $size-base;
			padding-bottom: $size-base;
			max-height: 100vh;
			transition: all 0.25 ease;
		}

		&__items {
			list-style-type: none;
			padding-left: 0;
		}

		&__item a {
			@include meta($color-text-vlight);
			display: block;
			padding: $size-sml 0;
			@include upperspace;

			&:hover {
				text-decoration: underline;
			}
		}
		
		.current-menu-item {
			color: $color-accent-light;
			font-weight: $font-weight-strong;
			text-decoration: underline;
		}

	}
}
