{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}} wf-loading" data-template="base.twig" id="pageTop">
        
        {# <div class="visually-hidden">{% include 'views/utility/svg-defs.svg' %}</div> #}
        {% block header %}
            {% include 'headers/_header-site.twig' with { class: 'header--site', role: 'banner' } %}
        {% endblock %}  
        
        <main class="site__main" role="main">

            {% block before_content %}{% endblock %}

            {% block content %}
                Sorry, no content
            {% endblock %}

            {% block after_content %}{% endblock %}

        </main>

        {% block footer %}
            {% include 'footers/_footer-site.twig' with { class : 'footer--site' } %}   
            {{ function('wp_footer') }}

            <script>
            // https://css-tricks.com/ajaxing-svg-sprite/

            var template_url = "{{site.theme.link}}";
            $.get(template_url+"/views/utility/svg-defs.svg", function(data) {
                var div = document.createElement('div');
                div.className = 'visually-hidden';
                div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
                document.body.insertBefore(div, document.body.childNodes[0]);
            });

            </script>
        {% endblock %}

    </body>
</html>
