.tease--chapter {
	@include grid;
	// align-items: center;
	margin-top: $size-h2;
}

.tease--excerpt {
	&__img {
		@include bp(md) {
			@include cell(third);
			// align-self: center;
		}
	}

	&__info {
		@include bp(md) {
			@include cell;
		}	
	}

	&__more {
		float: right;
	}

	&__title {
		@include upperspace;
		margin-top: $size-xsml;
	}
}