{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}

	<div class="gallery header__hero--slider teaser lazyload" data-expand="-20">
		
		{% if first_slide %}
			{% set post = TimberPost(first_slide) %}
			{% include 'utility/fullscreen-cell.twig' %}
		{% endif %}

		{% for post in chapters|slice(0,10) %}
			{% set has_readmore = true %}
			{% set post = TimberPost(post) %}
			{% include 'utility/fullscreen-cell.twig' %}
		{% endfor %}
	
	</div> <!-- .gallery -->
	
{% endblock %}

{% block after_header_content %}{% endblock %}