{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
	
	{% set display = post.header_display %}

	<h1 class="title-page">{{post.post_title}}</h1>

	{% if display == 'image' %}

		{{post.header_image_desktop.url}}
		{{post.header_image_tablet.url}}
		{{post.header_image_mobile.url}}

	{% endif %}

	<p class="lead lead--header">{{post.header_tagline}}</p>
	<p class="summary summary--header">{{post.header_summary}}</p>

{% endblock %}

{% block after_header_content %}{% endblock %}
