{% extends "teases/tease.twig" %}

{% block content %}
	<div class="tease--excerpt__img">
		<a href="{{post.link}}">
			<picture>
				<source srcset="{{post.thumbnail.src|resize(400,300)}}" media="(min-width: 1000px)">
				<source srcset="{{post.thumbnail.src|resize(400,300)}}" media="(min-width: 800px)">
				<img srcset="{{post.thumbnail.src|resize(400,200)}}" alt="{{post.post_title}}">
			</picture>
		</a>
	</div>
	<div class="tease--excerpt__info">
		<h4 class="tease--excerpt__title"><a href="{{post.link}}">{{post.post_title}}</a></h4>
		<p class="meta--med">{{post.header_byline}}</p>
		<p>{{post.header_summary}}</p>
		<div class="clearfix">
			<a href="{{post.link}}" class="tease--excerpt__more">Read More &rarr;</a>
		</div>
	</div>
	
{% endblock %}