{% extends "teases/tease.twig" %}

{% block content %}
	<a href="{{post.link}}" class="tease--thumb__link">
		<div class="tease--thumb__imgwrap{% if current_id == post.id %} current{% endif %}">
			<img class="lazyload tease--thumb__img" data-src="{{post.thumbnail.src|resize(400, 300)}}" alt="{{post.post_title}}" src="{{site.theme.link}}/assets/img/util/placeholder-tease-thumb.png">
		</div>
		<noscript>
			<img src="{{post.thumbanil.src|resize(900)}}" alt="{{post.post_title}}" height="300" />
		</noscript>
	</a>
	<h5 class="tease--thumb__title">{{post.post_title}}</h5>
	<p class="tease--thumb__caption">{{post.post_excerpt}}</p>

{% endblock %}
