
{# Base tease template #}

{% set h_class = ' class="' ~ class ~ '"' %}
{% set h_role = ' role="' ~ role ~ '"' %}

<article{{ class ? h_class }}{{role ? h_role }}>

	{% block content %}
		{% set post = TimberPost(post) %}
		<h4><a href="{{post.link}}">{{post.post_title}}</a></h4>
		<p>{{post.header_summary}}</p>
		<a href="{{post.link}}" class="btn btn--readmore">Read more...</a>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
	
</article>

