
/// @group buttons
/// @content [Buttons for stuff]

$buttons: (
    danger:     ($color-alert-danger, $color-text-light),
    warning:    ($color-alert-warning, $color-text-light),
    success:    ($color-alert-success, $color-text-light),
    cta:        ($color-rotate-bkgd, $color-rotate-text),
    readmore:   ($color-accent-med, $color-text-light)
);
 
.btn {
    display: inline-block;
    padding: $size-xsml;
    margin-top: $size-sml;
    margin-bottom: $size-sml;

    @each $name, $colors in $buttons {
        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);

        &--#{$name} {
            // TODO: Need to deal with hover styles.
            background-color: $bgcolor;
            color: $fontcolor;

            &:hover {
                background-color: darken($bgcolor, 20%);
                color: $fontcolor;
            }
            &:active {
                background-color: darken($bgcolor, 50%);
                color: darken($fontcolor, 20%);
            }
        }
    }
}

