{% extends 'blocks/block.twig' %}

{% block content %}

	<blockquote>
		<p>{{block.quote_text}}</p>
		{% if block.quote_source %}
			<footer>
				&dash; <cite><a href="{{block.quote_source_url}}" target="blank">{{block.quote_source}}</cite></a>
			</footer>
		{% endif %}
	</blockquote>
	
 
{% endblock %}