<div class="block {{block_class}}{{ block.textimage_format ? ' ' ~ block_class ~ '--' ~ block.textimage_format}}{{block.class ? ' ' ~ block.class}}">
	<div class="lazyload teaser" data-expand="-20">

		{% if block.textimage_format == 'caption'%}

			<figure class="block_textimage--caption__fig" >
				
				{{block.contain ? '<div class="' ~ block.contain ~ '">'}}
				
				<img class="block_textimage__image lazyload" data-sizes="auto"
						 data-srcset="{{TimberImage(block.textimage_image).src|resize(500)}} 375w,
						 		 {{TimberImage(block.textimage_image).src|resize(900)}} 768w,
						 		 {{TimberImage(block.textimage_image).src|resize(1500)}} 1024w"
						 alt="{{post.post_title}}"
						 src="{{site.theme.link}}/assets/img/util/placeholder-500x333.png" width="1200">
				
				<noscript>
					<img src="{{TimberImage(block.textimage_image).src|resize(900)}}" alt="{{post.post_title}}"/>
				</noscript>

				{{block.contain ? '</div>'}}

				{% if block.textimage_caption %}
					<div class="contain--md">
						<p class="block_textimage--caption__text">{{block.textimage_caption}}</p>
					</div>
				{% endif %}
			</figure>

		{% elseif block.textimage_format == 'paragraph'%}

			{{block.contain ? '<div class="' ~ block.contain ~ '">'}}
			<img class="block_textimage__image lazyload" data-sizes="auto"
				 data-srcset="{{TimberImage(block.textimage_image).src|resize(500)}} 375w,
				 		 {{TimberImage(block.textimage_image).src|resize(900)}} 768w,
				 		 {{TimberImage(block.textimage_image).src|resize(1500)}} 1024w"
				 alt="{{post.post_title}}"
				 src="{{site.theme.link}}/assets/img/util/placeholder-500x333.png">

			<noscript>
				<img src="{{TimberImage(block.textimage_image).src|resize(900)}}" alt="{{post.post_title}}"/>
			</noscript>
			
			{{block.contain ? '</div>'}}
			
			<div class="contain--md">
				{{block.textimage_paragraph}}
			</div>

		{% elseif block.textimage_format == 'prompt'%}
			
			<picture>
				<source data-srcset="{{TimberImage(block.textimage_image).src|resize(1800)}}" media="(min-width: 1000px)">
				<source data-srcset="{{TimberImage(block.textimage_image)|resize(1000)}}" media="(min-width: 600px)">
				<img class="lazyload block_textimage--prompt__image" data-srcset="{{TimberImage(block.textimage_image_mobile)|resize(900)}}"  src="{{site.theme.link}}/assets/img/util/placeholder-500x333.png" alt="{{post.post_title}}">
			</picture>

			<div class="contain--md">
				<p class="block_textimage--prompt__text lead">{{block.prompt_text}}</p>
				<div class="block_textimage--prompt__btn__wrap">
					<a class="block_textimage--prompt__btn" href="{{block.download_link}}" target="blank">{{block.download_button_text}}</a>
				</div>
			</div>
			
		{% endif %}
	
	</div> 
</div> <!-- /.{{block_class}} -->