{% extends "blocks/block.twig" %}

{% block content %}
	
	<div class="block_gallery__gallery{{block.video_gallery ? '--video'}} teaser lazyload">

		{% for image in block.gallery_images %}
		
			<div class="gallery-cell{{block.video_gallery ? '--video'}}"{% if block.video_gallery %} data-vimeo="https://player.vimeo.com/video/{{TimberImage(image).video_url}}?autoplay=1"{% endif %}>
				<div class="gallery-cell__content{{block.video_gallery ? '--video'}}">

					{% if not block.video_gallery %}
					<img class="lazyload gallery-cell-image" data-sizes="auto" 
						srcset="{{TimberImage(image.url)|resize(700)}} 375w,
				 			 {{TimberImage(image.url)|resize(900)}} 480w,
				 		 	 {{TimberImage(image.url)|resize(1200)}} 768w"
				 		alt="{{post.post_title}}"
				 		src="{{TimberImage(image.url)|resize(700)}}">
				 	{% endif %}
				 	
				 	{% if block.video_gallery %}
				 		{# {% include 'utility/svg.twig' with { file: 'video', prefix: 'icon' } %} #}
				 		<div class="gallery-cell__content__video">
					 		<iframe class="lazyload" webkit-playsinline data-src="https://player.vimeo.com/video/{{TimberImage(image).video_url}}" frameborder="0"></iframe>
				 		</div>
				 	{% endif %}
				</div>
				
				<div class="gallery-cell__info">	
		 			{% if block.video_gallery %}<h5>{{image.title}}</h5>{% endif %}
			 		<p class="block_textimage--caption__text">{{image.caption}}</p>
			 	</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}