
{% set block_class = block.acf_fc_layout %}

{% if block.acf_fc_layout == 'block_text' %}
    {% include 'blocks/_block-text.twig' %}   
{% elseif block.acf_fc_layout == 'block_textimage' %}
    {% include 'blocks/_block-textimage.twig' %}
{% elseif block.acf_fc_layout == 'block_gallery' %}
    {% include 'blocks/_block-gallery.twig' %}
{% elseif block.acf_fc_layout == 'block_image_comparison' %}
    {% include 'blocks/_block-comparison.twig' %}
{% elseif block.acf_fc_layout == 'block_html' %}
    {% include 'blocks/_block-html.twig' %}
{% elseif block.acf_fc_layout == 'block_quote' %}
    {% include 'blocks/_block-quote.twig' %}
{% elseif block.acf_fc_layout == 'block_video' %}
    {% include 'blocks/_block-video.twig' %}
{% endif %}