<video autoplay loop muted class="ambient__video{{fill ? ' fill-screen'}}" poster="{{placeholder}}">
	{% if webm %}<source src="{{webm}}" type="video/webm" />{% endif %}
	{% if mp4 %}<source src="{{mp4}}" type="video/mp4" />{% endif %}
</video>
<img class="ambient__video__replacement{{fill ? ' fill-screen'}}" src="{{placeholder}}" alt="Video mobile image">