<div class="lazyload teaser loop__tease--thumb" id="#pbd-alp-load-posts" data-expand="-20">
	{% for post in chapters %}
		{% include 'teases/_tease-thumb.twig' with { class: 'tease--thumb gallery-cell tease--thumb--' ~ thumb_cols } %}
	{% endfor %}
</div>