<div class="gallery-cell">
	
	{% if post.get_field('cover_video_webm') %}
		{% include 'utility/ambient-video.twig' with {
			placeholder: post.get_field('cover_video_placeholder_image'),
			mp4: post.get_field('cover_video_mp4'),
			webm: post.get_field('cover_video_webm'),
			fill: true
		} %}
	{% else %}
		<img class="header__hero__img fill-screen lazyload" data-sizes="auto"
			 data-srcset="{{TimberImage(post.thumbnail).src|resize(600)}} 375w,
			 		 {{post.thumbnail.src|resize(900)}} 768w,
			 		 {{post.thumbnail.src|resize(1200)}} 1024w"
			 alt="{{post.post_title}}"
			 src="{{site.theme.link}}/assets/img/util/placeholder-500x333.png">

		<noscript>
			<img src="{{post.thumbnail.src|resize(900)}}" alt="{{post.post_title}}"/>
		</noscript>
	{% endif %}

	<div class="header__hero__info__wrap">
		<div class="header__hero__info">
			<h1 class="header__hero__title"><a href="{{post.link}}">{{post.post_title}}</a></h1>
			<div class="header__hero__info__content">
				<p class="header__hero__byline">{{post.header_byline}}</p>
				<p>{{post.header_summary}}</p>
				<!-- shame, shame -->
				<br>
				<br>
				{% if has_readmore %}
					<a class="btn--more" href="{{post.link}}">Read More</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="fade-mask fade-bottom fade-mask--light"></div>

</div>