{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-home.twig' with { class: 'header header--home', role: 'banner' } %}
{% endblock %}

{% block content %}
	
	{% if post.summary_title and post.summary %}
		<div class="block contain--sm">
			<h2>{{post.summary_title}}</h2>
			<p class="lead">{{post.summary}}</p>
		</div>
	{% else %}
		<!-- begin shame -->
		<br>
		<br>
		<!-- end shame -->
	{% endif %}

	<div class="contain--xl">
		{% include 'utility/chapter-thumb-loop.twig' %}
	</div>

	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

{% endblock %}