{% extends 'footers/footer.twig' %}

{% block footer_class %}site{% endblock %}

{% block footer_content %}

	<div class="footer--site__nav--backtop">
		<a href="#pageTop">
			{% include 'utility/svg.twig' with { prefix: 'icon', file: 'arrow-up' } %}
		</a>
	</div>

	<iframe src="https://www.weather.com/pagelet/footer/third" class="lazyload footer--site__external" height="305" width="100%"></iframe>

	{% include 'site-options/site-colophon.twig' %}

{% endblock %}
