.footer--site {
	@include meta();

	&__nav--backtop a {
		display: none;
		position: fixed;
		bottom: $size-sml;
		right: $size-sml;
		background-color: rgba($white, 0.8);
		border-radius: 3px;
		border: 1px solid rgba($color-accent-light, 0.5);
		padding: $size-xsml;

		.icon {
			@include icon($color-body-text);
		}

		@include bp(md) {
			&:hover {
				background-color: rgba(darken($white, 10%), 0.8);
			}
			&:active {
				background-color: rgba(darken($white, 20%), 0.8);
			}
		}
	}

	&__external {
		display: none;
		
		@include bp(lg) {
			// margin-top: $size-h1;
			display: block;
		}
	}	

	&__colophon {
		margin-top: $size-h3;
		text-align: center;
		@include meta;
		@include bp(lg) {
			display: none;
		}
	}
}
