.footer--single {
	margin-top: $size-h1*2;
	
	
	&__credits {
		text-align: center;
		margin-bottom: $size-h1*2;
	}

	&__credits__list {
		list-style: none;
		padding-left: 0;
	}

	&__credits__main {
		padding-bottom: 0;
	}

	&__credits__desc {
		
		p {
			margin-top: 0;
		}
		
		font-style: italic;
	}

}
